@use "../styles/variables.scss" as *;

@keyframes wiggle-spin-scale {
  0%,
  100% {
    transform: translate(-40px, -30px) rotate(0deg) scale(1);
  }
  25% {
    transform: translate(-42px, -28px) rotate(2deg) scale(1.01);
  }
  50% {
    transform: translate(-38px, -32px) rotate(-2deg) scale(0.99);
  }
  75% {
    transform: translate(-42px, -32px) rotate(1deg) scale(1.01);
  }
}

.contact-us-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  .contact-us-icon {
    position: absolute;
    width: 130px;
    height: 130px;
    opacity: 0.03;
    color: $color-text;
    transition: transform 0.3s ease;
    transform: translate(-40px, -30px);
    animation: wiggle-spin-scale 3s infinite ease-in-out;
  }
}
