@use "../styles/variables.scss" as *;
@use "sass:color";

.map-wrapper {
  position: relative;
  height: 100%;
  width: 100%;

  .custom-attribution {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.8);
    padding: 4px 8px;
    border-top-left-radius: $border-radius-mini;
    font-size: 12px;
    color: grey;

    a:link,
    a:visited,
    a:hover,
    a:active {
      color: grey;
    }
  }

  .map-search-bar {
    position: absolute;
    top: 20px; // adjust to match your edit-location button
    left: 20px; // align to the left side
    z-index: 1; // above the map
    width: 300px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 15px black;
    font-size: 14px;
  }

  .map-container,
  .leaflet-container {
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .leaflet-popup-content {
    .preview-popup {
      .and-more {
        font-style: italic;
      }
    }
    .leaflet-username {
      text-align: center;
      font-weight: bold;
    }

    .preview-popup-button {
  //     // background-color: $color-button-bg;
       padding: 2px 5px;
  // // color: white;
  // border: 0.5px solid black;
  // border-radius: $border-radius-mini;
    }
  }
}

.leaflet-marker-icon.red-pin {
  z-index: 500 !important;
}

.save-location-btn,
.edit-location-btn,
.cancel-location-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(49, 124, 164, 0.79);
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  box-shadow: 0 0 15px black;
  cursor: pointer;
  font-weight: bold;
  z-index: 1;

  &:hover {
    background: color.adjust(rgba(62, 159, 212, 0.79), $lightness: 10%);
  }
}
