@use "../styles/variables.scss" as *;
@use "sass:color";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $padding-default $padding-default $padding-default;
  color: white;
  border-bottom: 0.5px solid $color-border;

  .nav-left,
  .nav-center,
  .nav-right {
    display: flex;
    align-items: center;
  }

  .nav-left {
    .account-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;
      gap: $gap-default;

      .avatar-fallback {
        min-width: $avatar-size-large;
        height: $avatar-size-large;
        border-radius: 50%;
        background-color: $color-avatar-fallback;
        color: $color-heading;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: $font-size-base;
      }

      img {
        min-width: $avatar-size-large;
        height: $avatar-size-large;
        border-radius: 50%;
      }
    }
  }

  .nav-center {
    justify-content: center;
    gap: 25px;

    .chats-link {
      position: relative;

      // Badge style
      .badge {
        position: absolute;
        top: -6px;
        right: -10px;
        background-color: $color-button-bg;
        color: $color-text-button-hover;
        min-width: 18px;
        height: 18px;
        border-radius: 50%;
        font-size: $font-size-tiny;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    a {
      text-decoration: none;
      color: white;
      font-weight: 500;

      &.active {
        text-decoration: underline;
      }
    }
  }

  .nav-right {
    justify-content: flex-end;

    a {
      text-decoration: none;
      color: white;
      font-weight: 500;
    }
  }
}
