@use "../styles/variables.scss" as *;
@use "sass:color";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $padding-default $padding-default $padding-default;
  color: white;
  border-bottom: 1px solid $color-border;

  .nav-left,
  .nav-center,
  .nav-right {
    display: flex;
    align-items: center;
  }

  .nav-left {
    // flex: 1;
    .profile-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;
      gap: 10px;

      img {
        width: $avatar-size-large;
        height: $avatar-size-large;
        border-radius: 50%;
        margin-right: 0.75rem;
      }

      h3 {
        margin: 0;
        font-size: 1rem;
      }
    }
  }

  .nav-center {
    // flex: 1;
    justify-content: center;
    gap: 25px;

    a {
      text-decoration: none;
      color: white;
      font-weight: 500;
      font-size: 1rem;

      &.active {
        text-decoration: underline;
      }
    }
  }

  .nav-right {
    justify-content: flex-end;

    a {
      text-decoration: none;
      color: white;
      font-weight: 500;
      transition: color 0.2s;

      &:hover {
        color: red;
      }
    }
  }
}

.avatar-fallback {
  width: $avatar-size-large;
  height: $avatar-size-large;
  border-radius: 50%;
  background-color: $color-avatar-fallback;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
}
