@use "../styles/variables.scss" as *;

@keyframes wiggle-spin-scale {
  0%,
  100% {
    transform: translate(-30px, -20px) rotate(0deg) scale(1);
  }
  25% {
    transform: translate(-32px, -18px) rotate(2deg) scale(1.01);
  }
  50% {
    transform: translate(-28px, -22px) rotate(-2deg) scale(0.99);
  }
  75% {
    transform: translate(-32px, -22px) rotate(1deg) scale(1.2);
  }
}

.svg-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  // Fade out at the top
  // mask-image: linear-gradient(to bottom, transparent 0%, black 30%);
  // -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 30%);

  .svg-icon {
    position: absolute;
    width: 80px;
    height: 80px;
    opacity: 0.03;
    color: $color-text;
    transform: translate(-30px, -20px);
  }

  &.animated {
    .svg-icon {
      animation: wiggle-spin-scale 3s infinite ease-in-out;
      opacity: 0.7;
    }
  }
}
