@use "../styles/variables.scss" as *;

.swap-card {
  background-color: $color-card-bg;
  border: 0.5px solid $color-border;
  border-radius: $border-radius;
  padding: $padding-mini;
  box-shadow: $box-shadow-default;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  min-height: 350px;

  .swap-titles {
    font-weight: bold;
    text-align: center;
  }

  .swap-buttons {
    display: flex;
    flex-direction: column;
    gap: $gap-mini;
  }

  &.greyscale {
    filter: grayscale(100%);
    opacity: 0.6;

    .unarchive-button {
      filter: none !important;
      opacity: 1 !important;
      isolation: isolate;
      z-index: 1;
    }
  }

  .swap-status-ribbon {
    position: relative;
    top: 0;
    left: -15px;
    width: calc(100% + 30px);
    text-align: center;
    font-weight: bold;
    padding: 6px 0;
    z-index: 1;
    letter-spacing: 1px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &.pending {
      color: $color-warning-text;
      background-color: $color-warning-bg;
    }

    &.accepted {
      color: $color-success-text;
      background-color: $color-success-bg;
    }

    &.declined {
      color: $color-danger-text;
      background-color: $color-danger-bg;
    }

    &.cancelled {
      background-color: #e53935;
      color: $color-text;
    }

    &.waiting {
      background-color: $color-warning-bg;
      color: $color-warning-text;
      animation: blink 1s linear infinite;
      height: 65px;
    }

    &.completed {
      background-color: rgb(30, 128, 64);
      color: rgb(158, 255, 202);
    }

    &.expired {
      background-color: #000000;
      color: $color-text;
    }

    &.reported {
      background-color: $color-danger-text;
      color: $color-danger-bg;
    }

    // The actual hoverable state
    &.hoverable {
      pointer-events: auto;
      cursor: pointer;

      &:hover {
        background-color: $color-danger-bg;
        color: $color-danger-text;
        animation: none;
      }
    }
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
  }

  .swap-messages {
    display: flex;
    flex-direction: column;
    gap: $gap-mini;

    .swap-message {
      font-size: small;
      font-style: italic;
      word-break: break-word;
      white-space: pre-wrap;
      overflow-wrap: anywhere;
    }
  }

  button {
    padding: 6px 12px;
    border: 0.5px solid $color-border;
    border-radius: 5px;
    background: $color-box-bg;
    color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.1s ease;
    font-weight: bold;

    &:hover {
      background-color: $color-button-bg;   
      color: #313131; 

    }
  }
}
