@use "sass:color";

/* ------------------- COLORS ------------------- */
$color-bg: #474747;
$color-text: rgba(255, 255, 255, 0.87);
$color-heading: white;
$color-border: #ccc;
$color-placeholder: $color-text;
$color-book-card: grey;

$color-card-bg: #595959;
$color-box-bg: #646464;

$color-link: #d4964a;
$color-link-hover: #f0c14b;

$color-success-bg: #b9e7c3;
$color-success-text: #155724;
$color-warning-bg: #fff3cd;
$color-warning-text: #856404;
$color-danger-bg: #eea9a9;
$color-danger-text: #721c24;
$color-zen-bg: #6586aa;
$color-zen-text: #ddd;

$color-chat-own: #6586aa; // CHECKED
$color-chat-incoming: #ddd; // CHECKED
$color-avatar-fallback: #888; // CHECKED

$color-button-bg: #d4964a;
$color-button-hover: #f0c14b;

$color-textarea: color.adjust($color-box-bg, $lightness: 30%);
$color-textarea-text: color.adjust($color-box-bg, $lightness: -20%);

/* ------------------- SPACING ------------------- */
$gap-mini: 10px;
$gap-default: 20px;
$padding-mini: 15px;
$padding-default: 20px;
$margin-default: 20px;
$margin-mini: 10px;
$border-radius: 15px;
$border-radius-mini: 6px;

/* ------------------- FONT ------------------- */
$font-family-default: system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-tiny: 12px;

/* ------------------- SHADOW ------------------- */
$box-shadow-default: 0 4px 8px rgba(0, 0, 0, 0.15);

/* ------------------- AVATAR ------------------- */
$avatar-size-small: 32px;
$avatar-size-large: 40px;
