@use "../styles/variables.scss" as *;
@use "sass:color";

.account-layout {
  display: flex;
  gap: $gap-default;

  aside {
    padding: $padding-default;
    width: 25%;
    background-color: $color-box-bg;
    display: flex;
    flex-direction: column;
    gap: $gap-default;

    .my-stats {
      display: flex;
      flex-direction: column;
      gap: $gap-mini;

      h3 {
        text-align: center;
      }

      ul {
        list-style: none;
        font-size: $font-size-base;
      }
    }

    .my-info {
      display: flex;
      flex-direction: column;
      gap: $gap-mini;

      h3 {
        text-align: center;
      }

      ul {
        list-style: none;
        font-size: $font-size-base;
      }
    }

    button {
      padding: 8px 30px;
      background-color: darkred;
      color: white;
      border: 0.5px solid $color-border;
      border-radius: $border-radius-mini;
      font-weight: bold;
      cursor: pointer;
      margin-top: $margin-mini;
      transition: 0.1s ease;

      &:hover {
        background-color: color.adjust(darkred, $lightness: 10%);
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
