@use "../styles/variables.scss" as *;
@use "sass:color";

.account-layout {
  display: flex;
  flex: 1;
  gap: $gap-default;

  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    gap: $gap-mini;
    padding: $padding-default;
    background-color: $color-box-bg;

    .my-stats {
      display: flex;
      flex-direction: column;
      gap: $gap-mini;

      h3 {
        text-align: center;
      }

      ul {
        list-style: none;
        font-size: $font-size-base;
      }
    }

    .my-info {
      display: flex;
      flex-direction: column;
      gap: $gap-mini;

      h3 {
        text-align: center;
      }

      ul {
        list-style: none;
        font-size: $font-size-base;
      }
    }

    button {
      padding: 8px 30px;
      background-color: darkred;
      color: white;
      border: 0.5px solid $color-border;
      border-radius: $border-radius-mini;
      font-weight: bold;
      cursor: pointer;
      margin-top: $margin-mini;
      transition: 0.1s ease;

      &:hover {
        background-color: color.adjust(darkred, $lightness: 10%);
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

@include mobile {
  .account-layout {
    flex-direction: column;
    height: 100vh;

    aside {
      width: 100%;
    }
    main {
      flex: 1;
      height: 100vh;
      width: 100%;
      display: flex;
      // background-color: aqua;
    }
  }
}
