@use "../styles/variables.scss" as *;

.books-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.book-card {
  background: grey;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  width: 250px;
  padding: $padding-mini;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
    border-radius: $border-radius-mini;
    object-fit: cover;
  }

  .status {
    margin-top: auto;
    padding: 10px;
    border-radius: $border-radius-mini;
    text-align: center;
    font-weight: bold;

    &.available {
      background-color: #d4edda;
      color: #155724;
    }

    &.booked {
      background-color: #fff3cd;
      color: #856404;
    }

    &.swapped {
      background-color: #f8d7da;
      color: #721c24;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: rgb(236, 76, 76);
  border-radius: 8px;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
}
