@use "../styles/variables.scss" as *;

.chats-page {
  display: flex;
  gap: $gap-default;

  .chat-list {
    width: 20%;
    min-height: calc(100vh - 120px);
    background-color: #746d61;

    .chat-item {
      padding: 8px;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover,
      &.active {
        background-color: #d4964a;
      }

      span {
        display: block;
        font-size: 14px;
        font-weight: 500;
        color: #fefefe;
      }
    }
  }
}
