.chats-page {
  display: flex;
  gap: 20px;

  .chat-list {
    width: 20%;
    min-height: calc(100vh - 120px);
    background-color: #746d61;

    .chat-item {
      padding: 0.5rem;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover,
      &.active {
        background-color: #d4964a;
      }

      span {
        display: block;
        font-size: 0.9rem;
        font-weight: 500;
        color: #fefefe;
      }
    }
  }

  .chat-window {
    width: 80%;

    display: flex;

    flex-direction: column;
    gap: 20px;

    .load-earlier {
      text-align: right;
      color: #ccc;
      cursor: pointer;
      padding: 10px;
      font-size: 0.9rem;
      transition: color 0.2s;

      &:hover {
        color: #fff;
      }
    }

    .messages {
      display: flex;
      flex-direction: column;
      align-items: stretch;
   

      .date-block {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .date-divider {
          text-align: center;
          font-size: 0.75rem;
          color: #d4d4d4;
          margin: 15px 0 10px 0;
          position: relative;

          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            width: 40%;
            height: 0.5px;
            background-color: #d4d4d4;
          }

          &::before {
            left: 0;
          }

          &::after {
            right: 0;
          }
        }
        .message-row {
          display: flex;
          align-items: flex-end;
          gap: 10px;

          .avatar-container {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            .avatar {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              object-fit: cover;
            }

            .avatar-placeholder {
              width: 32px;
              height: 32px;
              visibility: hidden; // <<< TO MAKE IT HIDDEN!!!
            }

            .avatar-fallback {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              background-color: #888;
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: bold;
              font-size: 15px;
            }
          }

          &.own {
            justify-content: flex-end;
          }

          &.incoming {
            justify-content: flex-start;
          }

          .message-bubble {
            padding: 0.5rem 0.75rem;
            max-width: 60%;
            font-size: 0.95rem;

            &.own {
              background-color: #6586aa;
              color: white;
              text-align: right;

              .timestamp {
                display: block;
                text-align: right;
                font-size: 10px;
                color: #dcdcdc;
              }
            }

            &.incoming {
              background-color: #ddd;
              color: #222;
              text-align: left;

              .timestamp {
                display: block;
                text-align: left;
                font-size: 10px;
                color: #393939;
              }
            }

            &.single {
              border-radius: 15px;
            }
          }
          /* Outgoing (right) */
          .message-bubble.own.start {
            border-radius: 15px 15px 0px 15px;
          }
          .message-bubble.own.middle {
            border-radius: 15px 0px 0px 15px;
          }
          .message-bubble.own.end {
            border-radius: 15px 0px 15px 15px;
          }

          /* Incoming (left) */
          .message-bubble.incoming.start {
            border-radius: 15px 15px 15px 0px;
          }
          .message-bubble.incoming.middle {
            border-radius: 0px 15px 15px 0px;
          }
          .message-bubble.incoming.end {
            border-radius: 0px 15px 15px 15px;
          }
        }
      }
    }

    .message-input {
      margin-top: auto;
      display: flex;
      gap: 0.5rem;

      textarea {
        flex: 1;
        resize: none;
        min-height: 3rem;
        max-height: 10rem;
        padding: 0.5rem;
        font-size: 1rem;
      }

      button {
        padding: 0.5rem 1rem;
        background: #6586aa;
        color: white;
        border: none;
        cursor: pointer;
      }
    }
  }
}
