@use "../styles/variables.scss" as *;
@use "sass:color";

.chats-page {
  display: flex;
  height: calc(100vh - 130px);
  gap: $gap-default;

  .chat-list {
    flex: 0 0 20%;
    height: calc(100vh - 120px);
    overflow-y: auto; 
    background-color: $color-box-bg;
    text-align: center;

     /* prettier, thin scrollbar */
    scrollbar-width: thin;                                          // Firefox
    scrollbar-color: color.adjust($color-border, $alpha: -0.4)      // thumb
                     transparent;                                   // track

    &::-webkit-scrollbar { width: 8px; }
    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: color.adjust($color-border, $alpha: -0.4);
      border: 2px solid transparent;         // gives “padding”
      border-radius: 4px;
      background-clip: content-box;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: color.adjust($color-border, $alpha: -0.2);
    }

    .chat-item {
      padding: $padding-micro;
      font-size: $font-size-base;
      transition: background-color 0.1s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $gap-mini;
      cursor: pointer;

      &:hover,
      &.active {
        background-color: $color-button-bg;
        color: $color-text-button-hover;
      }

      .chat-badge {
        background-color: $color-button-bg;
        color: $color-text-button-hover;
        min-width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 0.5px solid $color-box-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $font-size-tiny;
      }
    }
  }

  .chat-window {
    .placeholder {
      position: relative;
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .svg-grid {
        height: 100%;
      }

      .no-chatter-message {
        position: relative;
        background-color: $color-bg;
        display: inline-flex;
        // font-weight: bold;
        padding: $padding-default;
        border: 0.5px solid $color-border;
        box-shadow: 0px 0px 5px $color-bg;
      }
    }
  }
}

@include mobile {
  .chats-page {
    flex-direction: column;

    .chat-list {
      flex: 1;
      display: block;
    }

    .chat-window {
      display: none;
    }

    &.show-chat {
      .chat-list {
        display: none;
      }

      .chat-window {
        display: flex;

      }
    }
  }
}
