@use "../styles/variables.scss" as *;
@use "sass:color";

.account-layout {
  display: flex;
  gap: $gap-default;
  flex: 1;
}

aside {
  width: 25%;
  background-color: $color-box-bg;
  color: $color-text;

  .my-stats {
    ul {
      list-style: none;
    }
  }
  .my-info {
    ul {
      list-style: none;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
