@use "../styles/variables.scss" as *;
@use "sass:color";

.account-layout {
  display: flex;
  gap: $gap-default;
  flex: 1;

  aside {
    padding: $padding-default;
    width: 25%;
    background-color: $color-box-bg;
    color: $color-text;
    display: flex;
    flex-direction: column;
    gap: $gap-default;

    .my-stats {
      display: flex;
      flex-direction: column;
      gap: $gap-mini;

      h3 {
        text-align: center;
      }

      ul {
        list-style: none;
        font-size: $font-size-base;
      }
    }

    .my-info {
      display: flex;
      flex-direction: column;
      gap: $gap-mini;

      .my-info-edit {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .my-info-edit-button {
          width: calc($font-size-base * 2);
          height: calc($font-size-base * 2);
          border-radius: 50%;
          padding: 2px;
          background-color: $color-box-bg;
          border: 0.5px solid $color-text;

          &:hover {
            background-color: $color-button-bg;
          }
        }
      }

      ul {
        list-style: none;
        font-size: $font-size-base;
      }
    }

    .badges-container {
      display: flex;
      flex-direction: column;
      gap: $gap-mini;
      align-items: center;

      .badges {
        display: flex;
        gap: $gap-default;
      }

      .badge {
        font-size: calc($font-size-base * 3); // make those medals nice & big!
        opacity: 0.3; // default to greyed out
        transition: opacity 0.3s ease;

        &.achieved {
          opacity: 1; // full color once achieved
        }
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
