@use "../styles/variables.scss" as *;
@use "sass:color";

.swap-tabs {
  overflow: hidden;

  .embla__container {
    display: flex;
    gap: $gap-mini;
  }

  .embla__slide {
    flex: 0 0 auto;
    padding: 8px 16px;
    background: none;
    border: 0.5px solid $color-border;
    border-radius: $border-radius-mini;
    cursor: pointer;
    font-weight: bold;
    color: $color-heading;
    white-space: nowrap;
    transition: background-color 0.1s ease;

    &.active {
      background-color: $color-button-bg;
      color: $color-text-button-hover;
    }

    &:hover {
      background-color: $color-button-hover;
      color: $color-text-button-hover;
    }
  }
}

.swaps-container {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-default;
  justify-content: center;
  position: relative;
  min-height: calc(100vh - 180px);
}

@include mobile {
  .swap-tabs {
    .embla__slide {
      min-width: 120px;
      scroll-snap-align: start;
    }
  }
}
