@use "./styles/variables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: $color-text;
  background-color: $color-bg;
}

.scroll-lock {
  overflow: hidden !important;
  height: 100vh !important;
  position: fixed !important;
  width: 100%;
}
