* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 20px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #474747;

  /* ------------------- TO BE HOOKED UP ------------------ */

  /* --color-bg: #474747;
  --color-text: #fff;
  --gap-default: 20px; */
}
